
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>


{% extends "bootstrap/base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container">
    <h2>Outlier Detection Api</h2>
</div>

<form method="POST" enctype="multipart/form-data">

    <div class="container">
    
        <div class="row">
        <div class="form-group col-md-3">
            <h4>Multidimensional Data - Unsupervised</h4>
        </div>
        <div class="form-group col-md-1">
            {{ wtf.form_field(form.mixed) }}
        </div>
    </div>
    
    
    <div class="row">
        <div class="form-group col-md-3">
            <h4>Multidimensional Data - Supervised</h4>
        </div>
        <div class="form-group col-md-1">
            {{ wtf.form_field(form.supervised) }}
        </div>
        
    </div>
    
    
    
    <div class="row">
        <div class="form-group col-md-3">
            <h4>Time Series - Supervised</h4>
        </div>
        <div class="form-group col-md-1">
            {{ wtf.form_field(form.point) }}
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-3">
            <h4>Time Series - Unsupervised</h4>
        </div>
        <div class="form-group col-md-1">
            {{ wtf.form_field(form.subseq) }}
        </div>
    </div>
        
    <div class="row">
        <div class="form-group col-md-3">
            <h4>Text Data - Unsupervised</h4>
        </div>
        <div class="form-group col-md-1">
            {{ wtf.form_field(form.text) }}
        </div>
        
    </div>

    
</div>
</form>
{% endblock %}
</body>

</html>
